* {
  color: black; 
  font-size: 12pt;
  font-family: serif;
  margin-bottom: 0.5in;
}

nav {
	display: none;
}

img {
	display: block; width: 50%; height: 50%;
}

section {
	line-height: 1;
}

a {
	display: none;
}

.contact {
	display: block;
}

iframe {
	display: none;
}