@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Domine:400,700);

body {
	font-family: "Source Sans Pro", sans-serif;
	color: #444;
	background-color: #444;
	max-width: 800px;
	margin-right: 200px;
	margin-left: 200px;
	text-indent: 10px;
}

.container {width:900px;
      margin:0 auto 0 auto;
      padding:5px;
      border:1px solid #cccccc;
      background:#ffffff; }

a {
	color: #00a388;
}


a:active {
	color: #00a388;
}

a:visited {
	color: #444;
}

a:hover: {
	color: #00a388;
}

ul li {
	list-style:none;
}

ul li:before {
  color:#79bd8f;
  content:"\2022";
  padding-right:.25em;
  position:relative;
}

img {
	border: 1px solid #444;
	margin-left: 20%;
}

h1 {
	color: #ff6138;
	font-size: 36px;
	font-family: "Futura";
	text-align: center;
}

h2 {
	text-indent: 10px;
	font-family: "Domine", serif;
}

h3 {
	font-family: "Domine", serif;

}

h4 {
	font-family: "Domine", serif;

}

h5 {
	font-size: 14px;
	font-family: "Domine", serif;
}

nav {
	font-size: 18px;
}

@media print {
	
}